examples/basic.json
[
    {
        "id": "bbda5864.53c288",
        "type": "debug",
        "z": "cf2bd91e.ad21d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 670,
        "y": 380,
        "wires": []
    },
    {
        "id": "3ae3a7ce.3516b8",
        "type": "http request",
        "z": "cf2bd91e.ad21d8",
        "name": "random image",
        "method": "GET",
        "ret": "bin",
        "paytoqs": false,
        "url": "https://loremflickr.com/320/240/sport",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 280,
        "y": 260,
        "wires": [
            [
                "26495668.9c6a7a",
                "b1184921.04e888",
                "f8f4402d.cf88d",
                "296e4634.70d82a",
                "23484de6.80fe22"
            ]
        ]
    },
    {
        "id": "a3fff645.e892f8",
        "type": "inject",
        "z": "cf2bd91e.ad21d8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 260,
        "wires": [
            [
                "3ae3a7ce.3516b8"
            ]
        ]
    },
    {
        "id": "8d415c29.2d40a",
        "type": "debug",
        "z": "cf2bd91e.ad21d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 670,
        "y": 440,
        "wires": []
    },
    {
        "id": "7fa11aa2.bfae44",
        "type": "debug",
        "z": "cf2bd91e.ad21d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 670,
        "y": 320,
        "wires": []
    },
    {
        "id": "5ee24358.a6172c",
        "type": "debug",
        "z": "cf2bd91e.ad21d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 670,
        "y": 260,
        "wires": []
    },
    {
        "id": "b1184921.04e888",
        "type": "tensorflowPredict",
        "z": "cf2bd91e.ad21d8",
        "name": "",
        "mode": "online",
        "modelUrl": "https://storage.googleapis.com/tfjs-models/tfjs/mobilenet_v1_0.25_224/model.json",
        "localModel": "model1",
        "threshold": 50,
        "x": 500,
        "y": 260,
        "wires": [
            [
                "5ee24358.a6172c"
            ]
        ]
    },
    {
        "id": "26495668.9c6a7a",
        "type": "image",
        "z": "cf2bd91e.ad21d8",
        "name": "",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "outputs": 0,
        "x": 520,
        "y": 500,
        "wires": []
    },
    {
        "id": "f8f4402d.cf88d",
        "type": "tensorflowMobilenet",
        "z": "cf2bd91e.ad21d8",
        "name": "",
        "mode": "online",
        "modelUrl": "",
        "localModel": "mobilenet",
        "threshold": 50,
        "x": 510,
        "y": 320,
        "wires": [
            [
                "7fa11aa2.bfae44"
            ]
        ]
    },
    {
        "id": "296e4634.70d82a",
        "type": "tensorflowCocoSsd",
        "z": "cf2bd91e.ad21d8",
        "name": "",
        "mode": "local",
        "modelUrl": "",
        "threshold": 50,
        "maxDetections": 4,
        "passthru": false,
        "x": 510,
        "y": 380,
        "wires": [
            [
                "bbda5864.53c288"
            ]
        ]
    },
    {
        "id": "23484de6.80fe22",
        "type": "tensorflowPosenet",
        "z": "cf2bd91e.ad21d8",
        "name": "",
        "mode": "online",
        "modelUrl": "",
        "localModel": "posenet",
        "threshold": 50,
        "maxDetections": 4,
        "x": 500,
        "y": 440,
        "wires": [
            [
                "8d415c29.2d40a"
            ]
        ]
    }
]