examples/basic.json
[
    {
        "id": "2fa21d2.f944ae2",
        "type": "debug",
        "z": "f14c895.9b795f8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 670,
        "y": 180,
        "wires": []
    },
    {
        "id": "7c457547.c0f8fc",
        "type": "http request",
        "z": "f14c895.9b795f8",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "paytoqs": false,
        "url": "https://loremflickr.com/320/240/sport",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 270,
        "y": 60,
        "wires": [
            [
                "9af6df45.05bc3",
                "963a11d8.34f348",
                "9c732e21.0edd38",
                "3088e8cd.4b3b58",
                "36d10c67.d54c94"
            ]
        ]
    },
    {
        "id": "9202a882.a2037",
        "type": "inject",
        "z": "f14c895.9b795f8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 60,
        "wires": [
            [
                "7c457547.c0f8fc"
            ]
        ]
    },
    {
        "id": "281d6c52.469f5c",
        "type": "debug",
        "z": "f14c895.9b795f8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 670,
        "y": 240,
        "wires": []
    },
    {
        "id": "111913bc.ccc2e4",
        "type": "debug",
        "z": "f14c895.9b795f8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 670,
        "y": 120,
        "wires": []
    },
    {
        "id": "8b210bcf.22d44",
        "type": "debug",
        "z": "f14c895.9b795f8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 670,
        "y": 60,
        "wires": []
    },
    {
        "id": "9af6df45.05bc3",
        "type": "image",
        "z": "f14c895.9b795f8",
        "name": "",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "x": 500,
        "y": 300,
        "wires": []
    },
    {
        "id": "963a11d8.34f348",
        "type": "tensorflowCocoSsd",
        "z": "f14c895.9b795f8",
        "name": "",
        "mode": "local",
        "modelUrl": "",
        "localModel": "coco-ssd",
        "threshold": 50,
        "maxDetections": 4,
        "x": 490,
        "y": 180,
        "wires": [
            [
                "2fa21d2.f944ae2"
            ]
        ]
    },
    {
        "id": "9c732e21.0edd38",
        "type": "tensorflowPosenet",
        "z": "f14c895.9b795f8",
        "name": "",
        "mode": "online",
        "modelUrl": "",
        "localModel": "posenet",
        "threshold": 50,
        "maxDetections": 4,
        "x": 480,
        "y": 240,
        "wires": [
            [
                "281d6c52.469f5c"
            ]
        ]
    },
    {
        "id": "3088e8cd.4b3b58",
        "type": "tensorflowMobilenet",
        "z": "f14c895.9b795f8",
        "name": "",
        "mode": "online",
        "modelUrl": "",
        "localModel": "mobilenet",
        "threshold": 50,
        "x": 490,
        "y": 120,
        "wires": [
            [
                "111913bc.ccc2e4"
            ]
        ]
    },
    {
        "id": "36d10c67.d54c94",
        "type": "tensorflowPredict",
        "z": "f14c895.9b795f8",
        "name": "",
        "mode": "online",
        "modelUrl": "https://storage.googleapis.com/tfjs-models/tfjs/mobilenet_v1_0.25_224/model.json",
        "localModel": "model1",
        "threshold": 50,
        "x": 480,
        "y": 60,
        "wires": [
            [
                "8b210bcf.22d44"
            ]
        ]
    }
]